@import "./theme";
@import "./utils";
html, body{
  height: 100%;
}

body{
  .App{
    .sider-trigger {
      position: fixed;
      margin-left: -40px;
      z-index: 10;
      padding: 0px;
      width: 40px;
      height: 40px;
      border-radius: 0 50% 50% 0;
      font-size: 18px;
      cursor: pointer;
      transition: color .3s;
    }
    // .sider.ant-layout-sider-collapsed + .content-layout .sider-trigger{
    //   // margin-left: 0px;
    //   transition: margin-left 0.15s @ease-in-out;
    // }
    
    .logo {
      width: 120px;
      height: 31px;
      background: rgba(255,255,255,.2);  
      margin: 16px 24px 16px 0;
      float: left;
    }

    .sider .sider-header{
      font-weight: bold;
      transition: opacity .3s;
    }
    .ant-layout-sider-collapsed .sider-header{
      opacity: 0;
    }
  
    .sider .ant-menu-submenu-title{
      text-align: left;
    }
    .sider + .content-layout{
      margin-left: 200px;
      transition: margin-left 0.15s @ease-in-out;
    }
    .sider.ant-layout-sider-collapsed + .content-layout{
      margin-left: 0px;
    }
  
    .sider + .content-layout .ant-layout-header{
      position: fixed;
      width: ~"calc(100% - 200px)";
      transition: width 0.15s @ease-in-out;
    }
    .sider.sider.ant-layout-sider-collapsed + .content-layout .ant-layout-header{
      width: 100%;
    }

    .sider{
      z-index: 150;
    }
    .ant-layout-header{
      z-index: 100;
    }
    .default-btn{
      color: @primary-color;
      border-color: @primary-color;
      // background-color: @primary-color;
    }
    .default-btn:hover{
      color: #fff;
      border-color: @primary-color;
      background-color: @primary-color;
    }
    .ant-form-item-label{
      text-align: left;
    }
    .layout-content-panel{
      min-height: ~"calc(100vh - 69px - 64px - 40px)";
      .progress-error{
        .ant-progress-circle-path{
          stroke: #f5222d;
        }
      }
    }
    .bold-text{
      font-weight: bold;
    }

    .ant-tabs-large .ant-tabs-nav-container .ant-tabs-tab{
      font-size: 16px;
    }

    .ant-upload-select{
      width: 140px;
    }
    .slider-icon-wrapper {
      position: relative;
      padding: 0px 20px;
    }
    
    .slider-icon-wrapper .anticon {
      position: absolute;
      top: -2px;
      width: 16px;
      height: 16px;
      line-height: 1;
      font-size: 16px;
      color: rgba(0, 0, 0, .25);
    }
    
    .slider-icon-wrapper .anticon:first-child {
      left: 0;
    }
    
    .slider-icon-wrapper .anticon:last-child {
      right: 0;
    }

    .lang-menu .ant-radio-button-input{
      display: none;
    }

    .hover-active:hover{
      color: @primary-color;
    }

    .cursor-pointer{
      cursor: pointer;
    }

    @media print{
      .print-break-after{
        page-break-after: always;
      }
      .print-break-before{
        page-break-before: always;
      }
    }

    @media screen and (max-width: 768px){
      //small displays
      .ant-layout-header{
        height: 100px;
        .header-text-container{
          top: -30px;
        }
        .header-text{
          font-size: 1em;
        }
        .header-text-extra{
          display: none;
        }
        .full-width-on-small{
          width: 100%;
        }
        .lang-menu{
          top:-180px;
          // right: -160px;
          // left: calc(100vw - 150px);
          // transform: scale(0.7);
        }
      }
    }
    @media screen and (min-width: 769px){
      //large displays
      .ant-layout-header{
        height: 78px;
        .header-text{
          font-size: 1.3em;
        }
        // .header-text-extra{
        //   display: block;
        // }
      }
    }
  }
}